:root {
  /* colours */
  /* fonts */
  --main-font-color: #fff;
  /* header */
  --header-overlay-color: rgba(43, 40, 40, 0.685);
  /* body */
  --body-background-color: #7a7974;
  /* navigation */
  --nav-gradientFirst-color: #5a5954;
  --nav-gradientSec-color:  #181919;
  --navLinks-border-color :  rgb(167, 167, 167);
  --navLinks-textShadow-color: rgba(36, 35, 35, 0.86);
  /* shop & products */
  --product-boxShadow-color: #3c3d3d;
  --product-firstBtn-color: #a2d0a2;
  --product-secBtn-color:   #d3bcdc;
  --product-txtContainer-color: #a277aa;

  /* z-indices */
  --z-index-title-container: 1;
  --z-index-nav-links: 2;
  --z-index-hamburger: 3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  background: var(--body-background-color);
}
header {
  width: 100%;
  min-height: 100vh;
  background-image: url("../images/bg-img.jpg");
  position: relative;
  background-position: center;
  background-size: cover;
  top: 0;
  left: 0;
  color: var(--main-font-color);
}

header::after {
  position: absolute;
  content: "";
  background-color: var(--header-overlay-color);
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.hamburger-container {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 45px;
  height: 40px;
  cursor: pointer;
  z-index: var(--z-index-hamburger);
}

.hamburger-container span {
  display: block;
  background-color: var(--main-font-color);
  width: 100%;
  height: 5px;
  border-radius: 6px;
  position: absolute;
  left: 0;
}

.hamburger-container span:nth-child(1) {
  top: 0;
  transition: all 1s;
}
.hamburger-container span:nth-child(2) {
  top: 50%;
}
.hamburger-container span:nth-child(3) {
  top: 100%;
  transition: all 1s;
}

.hamburger-container span.disappear:nth-child(1),
.hamburger-container span.disappear:nth-child(3) {
  opacity: 0;
  top: 50%;
}

/* header title */
.title-container {
  position: absolute;
  top: 50%;
  left: 0;
  z-index: var(--z-index-title-container);
  padding-left: 5%;
  width: 100%;
}

.title-container h1 {
  text-transform: uppercase;
  font-size: 36px;
}

.title-container p {
  text-transform: uppercase;
  font-weight: 300;
  animation: move-in 1s both;
}

@keyframes move-in {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
/* navigation  */
.nav-links {
  z-index: var(--z-index-nav-links);
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background: #181919; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    var(--nav-gradientFirst-color),
    var(--nav-gradientSec-color)
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    var(--nav-gradientFirst-color),
    var(--nav-gradientSec-color)
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  pointer-events: none;
  clip-path: circle(0px at 100% 0);
  -webkit-clip-path: circle(0px at 100% 0);
  transition: all 0.7s ease-out;
  list-style: none;
}
.nav-links li {
  padding: 20px 30px;
  width: 220px;
  text-align: center;
  border-bottom: 1px solid var(--navLinks-border-color);
}
.nav-links li a {
  text-transform: uppercase;
  color: var(--main-font-color);
  text-decoration: none;
  padding: 20px 30px;
  display: inline-block;
}

.nav-links.open {
  clip-path: circle(1000px at 130% -10%);
  -webkit-clip-path: circle(2000px at 130% -10%);
  pointer-events: all;
}

.nav-links.open li {
  animation: move-up 1s ease-out both;
}
.nav-links.open li a:hover {
  transform: translateY(-3px);
  text-shadow: -3px 5px 5px var(--navLinks-textShadow-color);
}

@keyframes move-up {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@media (orientation: landscape) {
  .title-container {
    top: 40%;
  }
  .nav-links li {
    padding: 10px 30px;
  }
  .nav-links li a {
    padding: 10px 30px;
  }
}
@media (min-width: 375px) {
  .title-container h1 {
    font-size: 44px;
  }

  .title-container p {
    font-size: 20px;
  }
}

@media (min-width: 375px) {
  .nav-links li a {
    font-size: 20px;
  }
}

@media (min-width: 475px) {
  .nav-links li {
    padding: 15px 30px;
  }
  .nav-links li a {
    padding: 15px 30px;
    font-size: 16px;
  }
}

@media (min-width: 590px) {
  .title-container {
    top: 45%;
  }
  .title-container h1 {
    font-size: 50px;
  }

  .title-container p {
    font-size: 24px;
  }

  .nav-links li {
    padding: 15px 30px;
  }
  .nav-links li a {
    padding: 15px 30px;
    font-size: 16px;
  }
  .hamburger-container {
    width: 55px;
    height: 40px;
  }
}

@media (min-width: 720px) {
  .title-container {
    top: 45%;
  }
  .title-container h1 {
    font-size: 60px;
  }

  .title-container p {
    font-size: 30px;
  }

  .nav-links li {
    padding: 15px 30px;
  }
  .nav-links li a {
    padding: 15px 30px;
    font-size: 16px;
  }
  .hamburger-container {
    width: 70px;
    height: 50px;
  }
}

 /* @media (min-width: 768px) {
  .nav-links {
    background: blue;
    top: 0;
    left: 0;
    width: 100%;
    height: 10vh;

    flex-direction: row;
    z-index: 100;
  }
  .hamburger-container {
    display: none;
  }
}  */

/* .nav-links.desktop {
  pointer-events: all;
  clip-path: none;
} */

/* shop */
.Shop {
  min-height: 200px;
  width: 90%;
  margin: 100px auto 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 200px;
}

/*single product miniature*/
.Product {
  width: 85%;
  height: 290px;
  position: relative;
  background-color: var(--main-font-color);
  border-radius: 10%;
  margin-bottom: 30px;
  -webkit-box-shadow: -4px 3px 15px 2px --var(--product-boxShadow-color);
  -moz-box-shadow: -4px 3px 15px 2px--var(--product-boxShadow-color);
  box-shadow: -4px 3px 15px 2px --var(--product-boxShadow-color);
  background-image: url("../images/img1.jpg");
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
  overflow: hidden;
}

.Product-btn {
  width: 55px;
  height: 55px;
  position: absolute;
  top: 15px;
  right: 15px;
  background-color: var(--product-firstBtn-color);
  border-radius: 50%;
}
.Product-btn material-icons {
  font-size: 36px;
  line-height: 55px;
  color: var(--nav-gradientSec-color);
}

.Product-title {
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
  margin-top: 20px;
  font-size: 22px;
  animation: move-in-product 0.6s;
  position: absolute;
  bottom: 20px;
  right: 0;
  width: 173px;
}

@keyframes move-in-product {
  0% {
    opacity: 0;
    transform: translate(0, 30px);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}
.Product-img {
  /* background-color: rgba(87, 84, 84, 0.4); */
  width: 100%;
  height: 100%;
}
.Product-text-overlay {
  position: absolute;
  width: 100%;
  height: 150px;
  bottom: 0;
  background-color: var(--product-txtContainer-color);
  -webkit-clip-path: polygon(0 30%, 100% 50%, 100% 100%, 0% 100%);
  clip-path: polygon(0 30%, 100% 50%, 100% 100%, 0% 100%);
}
.Product-price {
  color:var(--nav-gradientSec-color);
  position: absolute;
  bottom: 7px;
  left: 10px;
  text-transform: uppercase;
  font-size: 25px;
  text-align: center;
  font-weight: 300;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  line-height: 55px;
}

/* .Product-btn-2 {
  width: 55px;
  height: 55px;
  position: absolute;
  top: 15px;
  left: 15px;
  background-color: var(--product-secBtn-color);
  border-radius: 50%;
} */

/* cart */
.shopping-cart {
  position: fixed;
  top: 10px;
  left: 0px;
  color: var(--main-font-color);
  font-size: 50px;
  z-index: 7;
}

.Cart {
  background-color: #9d77a3;
  min-width: 90%;
  position: absolute;
  top: 20%;
  left: 5%;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--main-font-color);
}
.Cart-product {
  display: flex;
  justify-content: space-around;
  width: 92%;
  padding: 10px;
  position: relative;
  font-size: 24px;
}
.Cart-title {
  color: var(--main-font-color);
  text-transform: uppercase;
  margin: 10px;
  font-size: 30px;
}
.Cart-product span {
  text-align: center;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Cart-product .Cart-productName {
  font-size: 18px;
}

.Cart-btn-increase {
  position: absolute;
  font-size: 25px;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%);

}
.Cart-btn-decrease {
  position: absolute;
  font-size: 25px;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);


}
.Cart-empty {
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
  padding: 40px 0;
}

.Cart-btn-container {
  position: relative;
  background-color: antiquewhite;
}

.form {
  position: absolute;
  top: 100px;
  left:50%;
  transform: translateX(-50%);
}
 *:visited {
  color: white;
}